<div>
  <%= form.label :name, class: "white-text" %>
  <%= form.text_field :name%>
</div>

<div>
  <%= form.label :description, class: "white-text" %>
  <%= form.text_field :description%>
</div>

<div>
  <%= form.label :country, class: "white-text" %>
  <%= form.country_select :country%>
</div>

<div>
  <%= form.label :home_type, class: "white-text" %>
  <%= form.select :home_type, ['Apartment', 'House', 'Bed & Breakfast'] %>
</div>

<div>
  <%= form.label :room_type, class: "white-text" %>
  <%= form.select :room_type, ['Entire home/apt', 'Private room', 'Shared room'] %>
</div>

<div>
  <%= form.label "Minimum stay period (nights)", class: "white-text" %>
  <%= form.number_field :min_stay, min: 1, max: 30 %>
</div>

<div>
  <%= form.label "Price per night (RM)", class: "white-text" %>
  <%= form.text_field :price %>
</div>

<div>
  <%= form.label :accomodates, class: "white-text" %>
  <%= form.text_field :pax %>
</div>

<div>
  <%= form.label :city, class: "white-text" %>
  <%= form.text_field :city %>
</div>

<div>
  <%= form.label :address, class: "white-text" %>
  <%= form.text_field :address %>
</div>

<div>
  <%= form.label :tags, class: "white-text" %>
  <%= form.text_field :tags %>
</div>

<div>
  <%= form.file_field :image, multiple: true %>
</div>
